/* RCC CS CLUB - Our Team External Style Sheet */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.parallax-one {
  padding-top: 13em;
  padding-bottom: 13em;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../imgs/RCT-Rockland_Community_College_50_1_50.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
}

.parallax-one h1 {
  font-size: 6em;
}

.parallax-one p {
  font-size: 1.25em;
}
.parallax-one small {
  font-size: 1.1em;
}

.headingTeam {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: green;
  position: relative;
}

.headingTeam::after {
  content: "";
  width: 10rem;
  height: 0.8rem;
  background-color: gold;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}

.containerTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerTeam .cardTeam {
  width: 330px;
  height: 416px;
  padding: 60px 30px;
  margin: 20px;
  background: white;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  border-radius: 20px;
}

.containerTeam .cardTeam .contentTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerTeam .cardTeam .contentTeam .imgBxTeam {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.containerTeam .cardTeam .contentTeam .imgBxTeam img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerTeam .cardTeam .contentTeam .contentBxTeam h4 {
  color: green;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.containerTeam .cardTeam .contentTeam .contentBxTeam h5 {
  color: #6c758f;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.containerTeam .cardTeam .contentTeam .sciTeam {
  margin-top: 20px;
}
.containerTeam .cardTeam .contentTeam .sciTeam a {
  text-decoration: none;
  color: #6c758f;
  font-size: 30px;
  margin: 10px;
  transition: color 0.4s;
}
.containerTeam .cardTeam .contentTeam .sciTeam a:hover {
  color: gold;
}
.underlineHover:hover{
  text-decoration: underline;
}
.eventDescription{
  font-size: 14px;
  font-weight: normal;
}
